<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lab_2/assets/styles/body_tags.css">
    <title>Zadanije 2 - body_tags</title>
</head>
<body>
    <header class="name">2.2.2.2 Тело HTML документа: структурные элементы и описывающие их тэги</header>
    <div class="content">
        <p class="text">
            Тело гипертекстового документа содержит теги, описывающие структурные части обычного документа: заголовки, абзацы, таблицы, рисунки и Т.Д..
            <br>Описание тегов тела документа следует начать с тега BODY. <br>
            <span class="bold">Заголовки в тексте</span>
            Заголовок обозначает начало раздела документа. В стандарте определено 6 уровней заголовков: от Н1 до Н6. Текст, окруженный тегами &lt;HI&gt;&lt;/Н|&gt;, получается большим — это основной заголовок. Если текст окружен тегами &lt;H2&gt;&lt;/H2&gt;, то он выглядит несколько меньше (подзаголовок); текст внутри
            &lt;Н3&gt;&lt;/Н3&gt; еще меньше и так далее до &lt;Н6&gt;&lt;/Н6&gt;. Некоторые программы позволяют использовать большее число заголовков, однако реально более трех уровней встречается редко, а более 5 — крайне редко.
            Ниже на рисунке показан код и результат использования следующих
            заголовков &lt;Hl&gt; и &lt;H2&gt;:
        </p>
        <img src="../../lab_2/assets/images/h_using.png" alt="#" class="h_using">
        <p class="text">
            <span class="bold">Абзацы</span>
            Элемент &lt;Р&gt; применяется для разделения текста на абзацы. К каждому
            абзацу можно применить собственные параметры форматирования:
            выравнивание (по левому краю, по правому краю, по центру, по ширине);
            отступы (слева, справа, первой строки);
            интервалы (перед абзацем, после абзаца, между строк внутри абзаца);
            маркированный список;
            нумерованный список.
            <br> <span class="bold">Таблицы</span> <br>
            Таблицы — едва ли не самый противоречивый с точки зрения их
            включения в структуру документа элемент. Они могут использоваться как для разметки соответствующего документа, так и для оформления определенного элемента текста. Для описания таблиц используется элемент &lt;TABLE&gt;.
            <br> <span class="bold">Рисунки</span> <br>
            Для того чтобы вставить в Web-страницу изображение, необходимо либо нарисовать его, либо взять уже готовое. В любой программе рисования можно создать простое изображение и сохранить его в нужном формате. Если программа этот формат не поддерживает, необходимо преобразовать файл в требуемый формат. Существует множество программ, предназначенных для преобразования одного графического формата в другой. Позаимствовать же картинки можно из различных программных пакетов или с других Web-страниц в Internet, содержащих библиотеки свободного доступа художественных изображений. Когда браузер выводит Web-страницу с изображением, соответствующий графический файл временно хранится в памяти компьютера.
            В большинстве браузеров есть команда, позволяющая сохранить файл на локальном диске. Существует также множество других вариантов получения графических файлов.
        </p>
    </div>
</body>
</html>