<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lab_2/assets/styles/containers.css">
    <title>Zadanije 2 - containers</title>
</head>
<body>
    <header class="name">2.2.2 Назначение и состав контейнеров HTML</header>
    <div class="content">
        <p class="text">
            Тэги &lt;HTML&gt; и &lt;/HTML определяют границы <span class="bold">собственно HTML документа</span>. Все остальные элементы, описывающие HTML - документ, находятся внутри данного контейнера.
            Гипертекстовый документ (или Контейнер HTML) состоит из двух других вложенных контейнеров: заголовочной части (или заголовка документа)
            HEAD и тела документа (BODY). Рассмотрим правила их составления подробнее.
        </p>
    </div>
</body>
</html>