<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lab_2/assets/styles/heading_stules.css">
    <title>Zadanije - Heading</title>
</head>
<body>
    <header class="name">Оглавление</header>
    <div class="content">
        <ul>
            <li class="lec_parts"><a href="../../lab_2/templates/structure.html" class="link_text" target="_self">Структура HTML - документа и используемые для этого теги</a></li>
            <li class="lec_parts"><a href="../../lab_2/templates/version_info.html" class="link_text" target="_self">Назначение раздела 1 - дать информацию о версии HTML</a></li>
            <li class="lec_parts"><a href="../../lab_2/templates/containers.html" class="link_text" target="_self">Назначение и состав контейнеров HTML</a></li>
            <li class="lec_parts"><a href="../../lab_2/templates/naming.html" class="link_text" target="_self">Заголовочная часть HTML - документа</a></li>
            <li class="lec_parts"><a href="../../lab_2/templates/body_tags.html" class="link_text" target="_self">Тело HTML документа: структурные элементы и описывающие их теги</a></li>
        </ul>
    </div>
</body>
</html>