<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lab_2/assets/styles/naming.css">
    <title>Zadanije 2 - naming</title>
</head>
<body>
    <header class="name">2.2.2.1 Заголовочная часть HTML - документа</header>
    <div class="content">
        <p class="text">
            Заголовок HTML-документа является необязательным элементом разметки.
            В HTML 2.0 предлагалось вообще отказаться от деления элементов документа на элементы заголовка и элементы тела документа, так как в то время в HTML не было элементов, которые использовались одновременно и в заголовке, и в теле документа. Современная практика HTML-разметки такова, что почти в каждом документе есть HTML-заголовок. Элементы заголовка HTML-документа содержатся внутри контейнера HEAD.
            <br>Основными элементами заголовка HTML - документа являются:</p>
            <ul>
                <li class="tag">TITLE (заглавие документа)</li>
                <li class="tag">BASE (база URL)</li>
                <li class="tag">ISINDEX (поисковый шаблон)</li>
                <li class="tag">МЕТА (метаинформация)</li>
                <li class="tag">LINK (общие ссылки)</li>
                <li class="tag">STYLE (описатели стилей)</li>
                <li class="tag">SCRIPT (скрипты)</li>
            </ul>
        <p class="text">
            Чаще всего применяются элементы TITLE, SCRIPT, STYLE.
            Использование элемента МЕТА говорит об осведомленности автора о
            правилах индексирования документов в поисковых системах и возможности управления НТТР-обменом данными. BASE и ISINDEX в последнее время практически не применяются. LINK указывают только при использовании внешних относительно данного документа описателей стилей.
            <br> <span class="bold">Элемент разметки TITLE</span> <br>
            Элемент разметки T/TLE служит для именования документа в World Wide
            Web. Более прозаическое его назначение - именование окна браузера, в котором просматривается документ. Состоит контейнер из тега начала, содержания и тега конца. Наличие тега конца обязательно. Тег начала элемента не имеет специфических атрибутов.
        </p>
    </div>
</body>
</html>