<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lab_2/assets/styles/structure_styles.css">
    <title>Zadanije 2 - Structure</title>
</head>
<body>
    <div class="content">
        <header class="name">2.2 Структура HTML - документа и используемые для этого теги</header>
        <p class="info">Документ в формате HTML 4.0 состоит из трех частей:
            <ul>
                <li class="parts">строки, содержащей информацию о версии HTML</li>
                <li class="parts">раздела заголовков (определяемого элементом HEAD)</li>
                <li class="parts">тела, которое включает собственно содержимое документа. Тело
                    может вводиться элементом BODY</li>
            </ul>
        </p>
        <p class="text">
            Перед каждым элементом или после каждого элемента может находиться
            пустое пространство (пробелы, переход на новую строку, табуляции и комментарии)
            Вот пример простого документа HTML:
        </p>
        <img src="../../lab_2/assets/images/simply_html.png" alt="#" class="simply_html">
        <p class="text">
            Следует обратить внимание, что разделы 2 и 3 входят в состав контейнера
            &lt;HTML&gt;...&lt;/HTML&gt;.
            Рассмотрим подробнее части документа и теги, формирующие их структуру
        </p>
    </div>
</body>
</html>